@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-body font-sans text-charcoal;
}

p,
h1,
h2,
h3,
ul,
ol,
img {
  line-height: 1.68em;
  margin-top: 1em;
  margin-bottom: 0.68em;
}

h1 {
  @apply text-h1;
}

h2 {
  @apply text-h2;
}

h3 {
  @apply text-h3;
}

ul {
  list-style: disc inside;
}
ol {
  list-style: decimal inside;
}

time,
address {
  @apply font-machine;
  font-style: normal;
}
a {
  @apply underline font-medium;
}

html {
  @apply bg-paper;
}

/* App Layout */
#app {
  margin: 8px 16px;
  background-image: url('@/assets/drafing-paper.jpg');
  overflow: hidden;
}
#page {
  padding: 32px 64px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 0px 8px -2px #262626;
  overflow: auto;
}

@media (max-width: 800px) {
  #page {
    padding: 32px 0;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 8px -2px #262626ee;
  }
}

.nav-item {
  @apply text-center cursor-pointer mx-8 font-semibold text-h3;
  text-decoration: none;
  font-variant: all-small-caps;
  line-height: 1rem;
}

.snippet-title {
  @apply text-h3 font-semibold;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-variant: all-small-caps;
}

/* Scrollbar */
/* Hide scrollbar for Chrome, Safari and Opera */
#page::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#page {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
